@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 53.3333 39.1304% 86.4706%;
  --foreground: 12.8571 20% 27.4510%;
  --card: 53.3333 39.1304% 86.4706%;
  --card-foreground: 12.8571 20% 27.4510%;
  --popover: 0 0% 100%;
  --popover-foreground: 12.8571 20% 27.4510%;
  --primary: 15.1807 33.6032% 48.4314%;
  --primary-foreground: 0 0% 100%;
  --secondary: 34.1379 29.2929% 61.1765%;
  --secondary-foreground: 0 0% 100%;
  --muted: 17.2603 59.3496% 75.8824%;
  --muted-foreground: 11.0000 28.0374% 41.9608%;
  --accent: 17.2603 59.3496% 75.8824%;
  --accent-foreground: 12.8571 20% 27.4510%;
  --destructive: 20 17.6471% 10%;
  --destructive-foreground: 0 0% 100%;
  --border: 34.1379 29.2929% 61.1765%;
  --input: 34.1379 29.2929% 61.1765%;
  --ring: 15.1807 33.6032% 48.4314%;
  --chart-1: 15.1807 33.6032% 48.4314%;
  --chart-2: 11.0000 28.0374% 41.9608%;
  --chart-3: 19.3103 43.7186% 60.9804%;
  --chart-4: 34.1379 29.2929% 61.1765%;
  --chart-5: 18.6885 24.8980% 51.9608%;
  --sidebar: 17.5862 59.1837% 80.7843%;
  --sidebar-foreground: 12.8571 20% 27.4510%;
  --sidebar-primary: 15.1807 33.6032% 48.4314%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 19.3103 43.7186% 60.9804%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 18.6885 24.8980% 51.9608%;
  --sidebar-ring: 15.1807 33.6032% 48.4314%;
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 0px 0px hsl(17.5862 23.7705% 47.8431% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(17.5862 23.7705% 47.8431% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(17.5862 23.7705% 47.8431% / 0.11), 2px 1px 2px -1px hsl(17.5862 23.7705% 47.8431% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(17.5862 23.7705% 47.8431% / 0.11), 2px 1px 2px -1px hsl(17.5862 23.7705% 47.8431% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(17.5862 23.7705% 47.8431% / 0.11), 2px 2px 4px -1px hsl(17.5862 23.7705% 47.8431% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(17.5862 23.7705% 47.8431% / 0.11), 2px 4px 6px -1px hsl(17.5862 23.7705% 47.8431% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(17.5862 23.7705% 47.8431% / 0.11), 2px 8px 10px -1px hsl(17.5862 23.7705% 47.8431% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(17.5862 23.7705% 47.8431% / 0.28);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 16.0000 20.5479% 14.3137%;
  --foreground: 53.3333 39.1304% 86.4706%;
  --card: 16.6667 18.0000% 19.6078%;
  --card-foreground: 53.3333 39.1304% 86.4706%;
  --popover: 16.6667 18.0000% 19.6078%;
  --popover-foreground: 53.3333 39.1304% 86.4706%;
  --primary: 19.3103 43.7186% 60.9804%;
  --primary-foreground: 16.0000 20.5479% 14.3137%;
  --secondary: 11.0000 28.0374% 41.9608%;
  --secondary-foreground: 53.3333 39.1304% 86.4706%;
  --muted: 12.8571 20% 27.4510%;
  --muted-foreground: 18.0952 35.1955% 64.9020%;
  --accent: 34.1379 29.2929% 61.1765%;
  --accent-foreground: 16.0000 20.5479% 14.3137%;
  --destructive: 356.8047 90.3743% 63.3333%;
  --destructive-foreground: 16.0000 20.5479% 14.3137%;
  --border: 12.8571 20% 27.4510%;
  --input: 12.8571 20% 27.4510%;
  --ring: 19.3103 43.7186% 60.9804%;
  --chart-1: 19.3103 43.7186% 60.9804%;
  --chart-2: 34.1379 29.2929% 61.1765%;
  --chart-3: 15.1807 33.6032% 48.4314%;
  --chart-4: 11.0000 28.0374% 41.9608%;
  --chart-5: 18.6885 24.8980% 51.9608%;
  --sidebar: 20 17.6471% 10%;
  --sidebar-foreground: 53.3333 39.1304% 86.4706%;
  --sidebar-primary: 19.3103 43.7186% 60.9804%;
  --sidebar-primary-foreground: 20 17.6471% 10%;
  --sidebar-accent: 34.1379 29.2929% 61.1765%;
  --sidebar-accent-foreground: 20 17.6471% 10%;
  --sidebar-border: 12.8571 20% 27.4510%;
  --sidebar-ring: 19.3103 43.7186% 60.9804%;
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 0px 0px hsl(17.6471 23.6111% 28.2353% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(17.6471 23.6111% 28.2353% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(17.6471 23.6111% 28.2353% / 0.11), 2px 1px 2px -1px hsl(17.6471 23.6111% 28.2353% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(17.6471 23.6111% 28.2353% / 0.11), 2px 1px 2px -1px hsl(17.6471 23.6111% 28.2353% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(17.6471 23.6111% 28.2353% / 0.11), 2px 2px 4px -1px hsl(17.6471 23.6111% 28.2353% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(17.6471 23.6111% 28.2353% / 0.11), 2px 4px 6px -1px hsl(17.6471 23.6111% 28.2353% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(17.6471 23.6111% 28.2353% / 0.11), 2px 8px 10px -1px hsl(17.6471 23.6111% 28.2353% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(17.6471 23.6111% 28.2353% / 0.28);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input,
  textarea,
  select {
    @apply bg-input text-foreground border-border focus:ring-0;
  }

  .input,
  .card,
  .popover {
    @apply border border-border;
  }

  .ring {
    @apply ring-1 ring-ring;
  }

  .sidebar-primary {
    background-color: var(--sidebar-primary);
    color: var(--sidebar-primary-foreground);
  }

  .sidebar-accent {
    background-color: var(--sidebar-accent);
    color: var(--sidebar-accent-foreground);
  }

  .sidebar-ring {
    box-shadow: 0 0 0 2px var(--sidebar-ring);
  }
}
