@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 181 100% 95%;
    --foreground: 181 5% 0%;
    --card: 181 50% 90%;
    --card-foreground: 181 5% 10%;
    --popover: 181 100% 95%;
    --popover-foreground: 181 100% 0%;
    --primary: 181 77% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 181 30% 70%;
    --secondary-foreground: 181 50% 20%;
    --muted: 143 30% 85%;
    --muted-foreground: 181 5% 35%;
    --accent: 143 30% 80%;
    --accent-foreground: 181 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 181 5% 90%;
    --border: 181 30% 50%;
    --input: 181 30% 18%;
    --ring: 181 77% 41%;
    --radius: 0.5rem;
    --sidebar-background: 181 60% 90%;
    --sidebar-foreground: 181 5% 10%;
    --sidebar-primary: 181 20% 90%;
    --sidebar-primary-foreground: 181 5% 10%;
    --sidebar-accent: 181 40% 80%;
    --sidebar-accent-foreground: 181 5% 10%;
    --sidebar-border: 181 20% 70%;
    --sidebar-ring: 181 77% 41%;
  }

  .dark {
    --background: 181 50% 5%;
    --foreground: 181 5% 90%;
    --card: 181 50% 0%;
    --card-foreground: 181 5% 90%;
    --popover: 181 50% 5%;
    --popover-foreground: 181 5% 90%;
    --primary: 181 77% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 181 30% 10%;
    --secondary-foreground: 181 50% 85%;
    --muted: 143 30% 15%;
    --muted-foreground: 181 5% 60%;
    --accent: 143 30% 15%;
    --accent-foreground: 181 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 181 5% 90%;
    --border: 181 30% 18%;
    --input: 181 30% 18%;
    --ring: 181 77% 41%;
    --radius: 0.5rem;
    --sidebar-background: 181 30% 10%;
    --sidebar-foreground: 181 5% 90%;
    --sidebar-primary: 181 30% 15%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 181 30% 15%;
    --sidebar-accent-foreground: 181 5% 90%;
    --sidebar-border: 181 30% 18%;
    --sidebar-ring: 181 77% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input,
  textarea,
  select {
    @apply bg-input text-foreground border-border focus:ring-0;
  }

  .input,
  .card,
  .popover {
    @apply border border-border;
  }

  .ring {
    @apply ring-1 ring-ring;
  }

  .sidebar-primary {
    background-color: var(--sidebar-primary);
    color: var(--sidebar-primary-foreground);
  }

  .sidebar-accent {
    background-color: var(--sidebar-accent);
    color: var(--sidebar-accent-foreground);
  }

  .sidebar-ring {
    box-shadow: 0 0 0 2px var(--sidebar-ring);
  }
}
